@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Oleo+Script+Swash+Caps&family=Poppins&display=swap');

.photo_alex {
  position: relative;
  background-image: url("background_apropos2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
  width: 100%;
}

.photo_alex h2 {
  position: absolute;
  top: 14%;
  color: white;
  font-size: 50px;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.photo_alex h3 {
  position: absolute;
  top: 22%;
  color: #00b3ff;
  font-size: 25px;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.photo_alex p{
  position: absolute;
  top: 28%;
  color: white;
  font-size: 16px;
  width: 50%;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
}

// -----------------------------------BOUTON MES REALISATIONS---------------------------------//

.photo_alex .btn_box_real{
  color: white;
  text-align: center;
  position: absolute;
  font-size: 17px;
  overflow: hidden;
  height: 50px;
  padding: 8px;
  top:55%;
}

.btn_box_real span{
  position:absolute;
}

.btn_box_real span:nth-child(1){
  top:0;
  left:0;
  width: 100%;
  height:2px;
  background:linear-gradient(90deg, transparent,#00b3ff) ;
  animation: animate1 1s linear infinite;
}

@keyframes animate1{
  0%{
    left: -100%;
  }
  50%, 100%{
    left:100%;
  }
}

.btn_box_real span:nth-child(2){
  top:-100%;
  right:0;
  width: 2px;
  height:100%;
  background:linear-gradient(180deg, transparent,#00b3ff) ;
  animation: animate2 1s linear infinite;
  animation-delay: .25s;
}

@keyframes animate2{
  0%{
    top: -100%;
  }
  50%,100%{
    top:100%;
  }
}

.btn_box_real span:nth-child(3){
  bottom:0;
  right:0;
  width: 100%;
  height:2px;
  background:linear-gradient(270deg, transparent,#00b3ff) ;
  animation: animate3 1s linear infinite;
  animation-delay: .50s;
}

@keyframes animate3{
  0%{
    right: -100%;
  }
  50%,100%{
    right:100%;
  }
}

.btn_box_real span:nth-child(4){
  bottom:-100%;
  left:0;
  width: 2px;
  height:100%;
  background:linear-gradient(360deg, transparent,#00b3ff) ;
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4{
  0%{
    bottom: -100%;
  }
  50%,100%{
    bottom:100%;
  }
}

.btn_box_real .un{
  color:white;
  text-decoration: none;
}

.btn_box_real .un:hover{
  color: #00b3ff;
}

// -----------------------------------BOUTON CONTACTEZ MOI---------------------------------//

.photo_alex .btn_box_contact{
  color: white;
  text-align: center;
  position: absolute;
  font-size: 17px;
  overflow: hidden;
  left: 15%;
  height: 50px;
  // width: 12%;
  padding: 8px;
  top:55%;
}

.btn_box_contact span{
  position:absolute;
}

.btn_box_contact span:nth-child(1){
  top:0;
  left:0;
  width: 100%;
  height:2px;
  background:linear-gradient(90deg, transparent,#00b3ff) ;
  animation: animate1 1s linear infinite;
}

@keyframes animate1{
  0%{
    left: -100%;
  }
  50%, 100%{
    left:100%;
  }
}

.btn_box_contact span:nth-child(2){
  top:-100%;
  right:0;
  width: 2px;
  height:100%;
  background:linear-gradient(180deg, transparent,#00b3ff) ;
  animation: animate2 1s linear infinite;
  animation-delay: .25s;
}

@keyframes animate2{
  0%{
    top: -100%;
  }
  50%,100%{
    top:100%;
  }
}

.btn_box_contact span:nth-child(3){
  bottom:0;
  right:0;
  width: 100%;
  height:2px;
  background:linear-gradient(270deg, transparent,#00b3ff) ;
  animation: animate3 1s linear infinite;
  animation-delay: .50s;
}

@keyframes animate3{
  0%{
    right: -100%;
  }
  50%,100%{
    right:100%;
  }
}

.btn_box_contact span:nth-child(4){
  bottom:-100%;
  left:0;
  width: 2px;
  height:100%;
  background:linear-gradient(360deg, transparent,#00b3ff) ;
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
  
}

@keyframes animate4{
  0%{
    bottom: -100%;
  }
  50%,100%{
    bottom:100%;
  }
}

.btn_box_contact .deux{
  color:white;
  text-decoration: none;
}

.btn_box_contact .deux:hover{
  color: #00b3ff;

}









@media screen and (min-width: 320px) and (max-width: 699px) {

  .photo_alex h2 {
    font-size: 25px;
    top: 50px;
  }

  .photo_alex h3 {
    font-size: 14px;
    top: 85px;
  }

  .photo_alex p {
    font-size: 13px;
    width: 100%;
    top: 15%;
  }
  

  .photo_alex .btn_box_real{
    font-size: 15px;
    /* Ajustez cette valeur selon vos besoins */
    width: 40%; /* Ajustez la largeur des boutons en pourcentage */
     /* Ajustez la position horizontale des boutons en pourcentage */
      top:auto;
      bottom:42%
  }

  .photo_alex .btn_box_contact {
    
    font-size: 15px;
    /* Ajustez cette valeur selon vos besoins */
    width: 40%; /* Ajustez la largeur des boutons en pourcentage */
     /* Ajustez la position horizontale des boutons en pourcentage */
     margin-left: 35%;
     top:auto;
     bottom: 42%;
  }

  // .buttons_propos{
  //   top: 56%;
  // }

  .photo_alex {
    background-size: 800px 400px;
    background-position: 88% 105%;
}
}
// @media screen and (min-width: 768px) and (max-width:1200px)




@media screen and (min-width: 700px) and (max-width: 1200px) {

  .photo_alex h2 {
    font-size: 30px;
    top: 50px;
  }

  .photo_alex h3 {
    font-size: 18px;
    top: 90px;
  }

  .photo_alex p {
    font-size: 16px;
    width: 100%;
    top: 15%;
  }
  

  .photo_alex .btn_box_real{
    font-size: 16px;
    /* Ajustez cette valeur selon vos besoins */
    width: 30%; /* Ajustez la largeur des boutons en pourcentage */
     /* Ajustez la position horizontale des boutons en pourcentage */
      top:auto;
      bottom:45%
  }

  .photo_alex .btn_box_contact {
    
    font-size: 16px;
    /* Ajustez cette valeur selon vos besoins */
    width: 30%; /* Ajustez la largeur des boutons en pourcentage */
     /* Ajustez la position horizontale des boutons en pourcentage */
     margin-left: 25%;
     top:auto;
     bottom: 45%;
  }

  // .buttons_propos{
  //   top: 56%;
  // }

  .photo_alex {
    background-size: 800px 400px;
    background-position: 88% 105%;
}
}