.all_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 84px;
    margin-top: 60px;
    margin-bottom: 60px;
}



.animation::before {
  content: '';
  position: absolute;
  top: 70px;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 2s ease forwards, moveRight 0.1s ease forwards 1s;
  z-index: 1;
}

@keyframes showRight {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

@keyframes moveRight {
 
  100% {
    width: 0;
  }
}

.card_form {
    display: block;
    width: 100%;
    height: 340px;
    border:solid rgba(0, 179, 255,0.2)
    ;
}

.card_container {
    width: 260px;
    height: 307px;
    perspective: 1000px; 
    
  }
  
  .card_inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
  }
  
  .card_front,
  .card_back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
  }
  
  .card_back {
    transform: rotateY(180deg); 
    background-color: #06131ce6;
    height:340px;
    overflow:hidden;
    display: flex;
    justify-content: center;
  }
  
  .card_back span{
    position:absolute;
  }
  
  .card_back span:nth-child(1){
    top:0;
    left:0;
    width: 100%;
    height:2px;
    background:linear-gradient(90deg, transparent,rgb(0, 179, 255)) ;
    animation: animate1 1s linear infinite;
  }
  
  @keyframes animate1{
    0%{
      left: -100%;
    }
    50%, 100%{
      left:100%;
    }
  }
  
  .card_back span:nth-child(2){
    top:-100%;
    right:0;
    width: 2px;
    height:100%;
    background:linear-gradient(180deg, transparent,#00b3ff) ;
    animation: animate2 1s linear infinite;
    animation-delay: .25s;
  }
  
  @keyframes animate2{
    0%{
      top: -100%;
    }
    50%,100%{
      top:100%;
    }
  }
  
  .card_back span:nth-child(3){
    bottom:0;
    right:0;
    width: 100%;
    height:2px;
    background:linear-gradient(270deg, transparent,#00b3ff) ;
    animation: animate3 1s linear infinite;
    animation-delay: .50s;
  }
  
  @keyframes animate3{
    0%{
      right: -100%;
    }
    50%,100%{
      right:100%;
    }
  }
  
  .card_back span:nth-child(4){
    bottom:-100%;
    left:0;
    width: 2px;
    height:100%;
    background:linear-gradient(360deg, transparent,#00b3ff) ;
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
  }
  
  @keyframes animate4{
    0%{
      bottom: -100%;
    }
    50%,100%{
      bottom:100%;
    }
  }

  .card_container:hover .card_inner {
    transform: rotateY(180deg); 
  }

  .card_container .card_back .card_elements {
    opacity: 0; 
    transform: translateY(100%); 
    transition: opacity 2s ease, transform 2s ease;
  }
  
  .card_container:hover .card_back .card_elements {
    opacity: 1; 
    transform: translateY(0);
  }



.card-image{
    width: 100%;
    height:100%;
    border-radius: 0px;
}


.card_elements h2{
    color:#00b3ff;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin:30px;
    text-align: center;
}

.card_elements p{
    color:rgb(255, 254, 254);
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    margin: 10px;
}

.card_elements .btn_voir{
  border: solid 1px #00b3ff;
  text-align: center;
  padding: 5px;
  margin: 10px 45px;
    margin-top: 10px;
  margin-top: 14px;
  transition: background-color 0.3s;
  font-family: 'Poppins', sans-serif;
  color:white;
  font-size:15px ;
}

.card_elements .btn_voir:hover{
  background-color:#00b3ff ;
}

.all_cards a {
    text-decoration: none;
}


.logo_form2{
  border-radius: 100%;
    height: 50px;
    width: 50px;
    margin-left:8px;
}

.arrow-icon {
  color: #00b3ff;
}




@media screen and (min-width: 310px) and (max-width: 768px) {
  body {
    display: flex;
    justify-content: center; 
  }

  .all_cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }

  .card_container{
    margin: 0 auto;
  }
  .card_container .card_inner {
    cursor: pointer; 
    transform: none !important; 
  }
  
  .card_back {
    display: none; 
  }

}

 


@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    display: flex;
    justify-content: center; 
  }

  .all_cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }

  .card_container .card_inner {
    cursor: pointer; 
    transform: none !important; 
  }
  
  .card_back {
    display: none; 
  }

}


  
  

@media screen and (min-width: 992px) and (max-width: 1400px) {
  body {
    display: flex;
    justify-content: center; 
  }

  .all_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
  }

  .card_container .card_inner {
    cursor: pointer; 
    transform: none !important; 
  }
  
  .card_back {
    display: none; 
  }

}


