.all_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 84px;
    margin-top: 60px;
    margin-bottom: 60px;
    
}

.card_form {
    display: block;
    width: 100%;
    height: 340px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);
    // border: solid #00b3ff 1px;
    // border: solid white 0.5px;
}

.card_container {
    width: 260px;
    height: 307px;
    perspective: 1000px; /* fzire une perspective pour avoir un effet 3D */
    
  }
  
  .card_inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
  }
  
  .card_front,
  .card_back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
  }
  
  .card_back {
    transform: rotateY(180deg); /* Pour retourner la carte */
    // background-color: rgb(6, 19, 28);
    background-color: #06131ce6;

    height:340px;
    overflow:hidden;
    display: flex;
    justify-content: center;
  }
  
  .card_back span{
    position:absolute;
  }
  
  .card_back span:nth-child(1){
    top:0;
    left:0;
    width: 100%;
    height:2px;
    background:linear-gradient(90deg, transparent,#00b3ff) ;
    animation: animate1 1s linear infinite;
  }
  
  @keyframes animate1{
    0%{
      left: -100%;
    }
    50%, 100%{
      left:100%;
    }
  }
  
  .card_back span:nth-child(2){
    top:-100%;
    right:0;
    width: 2px;
    height:100%;
    background:linear-gradient(180deg, transparent,#00b3ff) ;
    animation: animate2 1s linear infinite;
    animation-delay: .25s;
  }
  
  @keyframes animate2{
    0%{
      top: -100%;
    }
    50%,100%{
      top:100%;
    }
  }
  
  .card_back span:nth-child(3){
    bottom:0;
    right:0;
    width: 100%;
    height:2px;
    background:linear-gradient(270deg, transparent,#00b3ff) ;
    animation: animate3 1s linear infinite;
    animation-delay: .50s;
  }
  
  @keyframes animate3{
    0%{
      right: -100%;
    }
    50%,100%{
      right:100%;
    }
  }
  
  .card_back span:nth-child(4){
    bottom:-100%;
    left:0;
    width: 2px;
    height:100%;
    background:linear-gradient(360deg, transparent,#00b3ff) ;
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
  }
  
  @keyframes animate4{
    0%{
      bottom: -100%;
    }
    50%,100%{
      bottom:100%;
    }
  }

  .card_container:hover .card_inner {
    transform: rotateY(180deg); /* Pour retourner la carte quand on l a survole */
  }

.card-image{
    width: 100%;
    height:100%;
    border-radius: 12px;
}

.card_elements{
  border: solid white;
  border-radius: 12px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.card_elements h2{
    color:#00b3ff;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin:30px;
    text-align: center;
}

.card_elements p{
    color:rgb(255, 254, 254);
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    margin: 10px;
}

.all_cards a {
    text-decoration: none;
}


