@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Oleo+Script+Swash+Caps&family=Poppins&display=swap');


  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centrer verticalement */
    height: 100%; /* Utiliser toute la hauteur de l'écran */
  }


.infos {
      margin: 0 auto; /* Centrer horizontalement */
    text-align: center;
  
  
}

.infos h1{
  color:white;
  text-align: center;
  font-size:80px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: white;
  // text-shadow: 0 0 10px #e6007e,
  //               0 0 20px #e6007e,
  //               0 0 40px #e6007e,
  //               0 0 80px #e6007e,
  //               0 0 120px #e6007e,
}

.infos p{
  color: #00b3ff;
  text-align: center;
  font-size:38px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  // text-shadow: 0 0 10px #00b3ff,
  //               0 0 20px #00b3ff,
  //               0 0 40px #00b3ff,
  //               0 0 80px #00b3ff,
  //               0 0 120px #00b3ff,
}


.lighbar {
  height: 50%;
  margin:0 auto;
  position: absolute;
  top: 20%; /* Centrer verticalement */
  left: 5%; /* Centrer horizontalement */
  transform: translate(-50%, -50%);
  width: 10px;
  
  border-radius: 10px;
  background: white;
  z-index: 2;
  box-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff, 0 0 80px #00b3ff, 0 0 120px #00b3ff;
    animation: animatelightbar 5s linear forwards;
}
@keyframes animatelightbar
{
  0%,5%
  {
    transform: scaleY(0) translateX(0);
  }
  10%
  {
    transform: scaleY(1) translateX(0);
  }
  90%
  {
    transform: scaleY(1) translateX(calc(85em - 10px));
  }
  95%,100%
  {
    transform: scaleY(0) translateX(calc(85em - 10px));
  }

}


.content_top{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


  .toplayer {
    position: absolute;
    top: 20%;
    left: 5%;
    transform: translate(-50%, -50%);
    width: 85em;
    height: 50%;
  background: #081b29;


  animation: animatetoplayer 10s linear forwards;

}

@keyframes animatetoplayer {
  0% {
    transform: translateX(0);
  }

  5% {
    transform: translateX(0);
  }

  45% {
    transform: translateX(100%);

  }
  100%
  {
  transform: scaleY(0) translateX(calc(85em));
  }
}








@media only screen and (min-width: 290px) and (max-width: 1300px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centrer verticalement */
    height: 100%; /* Utiliser toute la hauteur de l'écran */
  }
  .infos {
    // top: 15%;
    // left: 5%;
    // position: absolute;
    margin: 0 auto; /* Centrer horizontalement */
    text-align: center;
    
  }

  .infos h1 {
    font-size: 50px;
    
  }

  .infos p {
    font-size: 20px;
    margin-left: 10%;
    margin-right:10% ;
}

  .lighbar {
    // top: 0%;
    // left: 0%;
    height: 50%;
   margin:0 auto;
  }
  .toplayer {
    position: absolute;
    top: 0%;
    left: 5%;
    transform: translate(-50%, -50%);
    width: 85em;
    height: 100%;
    // margin:50% auto;
  background: #081b29;
}

.btn_portfolio {
  color: white;
  justify-content: center;
  text-align: center;
  padding: 10px;
  letter-spacing: 4px;
  transition: .5s all;
  font-size: 15px;
  overflow: hidden;
  opacity: 0;
  animation: fadein 1s ease-in-out 3s forwards;
  margin: 0 30%;
}
}


@media only screen and (min-width: 1300px) and (max-width: 1500px) {

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centrer verticalement */
    height: 100%; /* Utiliser toute la hauteur de l'écran */
  }
  .infos {
    // top: 15%;
    // left: 5%;
    // position: absolute;
    margin: 0 auto; /* Centrer horizontalement */
    text-align: center;
    
  }

  .infos h1 {
    font-size: 60px;
    
  }

  .infos p {
    font-size: 30px;
    margin-left: 10%;
    margin-right:10% ;
}

.btn_portfolio {
  color: white;
  justify-content: center;
  text-align: center;
  padding: 20px;
  letter-spacing: 4px;
  transition: .5s all;
  font-size: 15px;
  overflow: hidden;
  opacity: 0;
  animation: fadein 1s ease-in-out 3s forwards;
  margin: 0 30%;
}

  .lighbar {
    height: 50%;
    margin:0 auto;
}
@keyframes animatelightbar
{
  0%,5%
  {
    transform: scaleY(0) translateX(0);
  }
  10%
  {
    transform: scaleY(1) translateX(0);
  }
  90%
  {
    transform: scaleY(1) translateX(calc(85em - 10px));
  }
  95%,100%
  {
    transform: scaleY(0) translateX(calc(85em - 10px));
  }

}


  .toplayer{
    position: absolute;
    top: 17%;
    left: 5%;
    width: 85em;
    height: 100%;
    background: #081b29;
  

    animation: animatetoplayer 10s linear forwards;
  
  }
  
  @keyframes animatetoplayer {
    0% {
      transform: translateX(0);
    }
  
    5% {
      transform: translateX(0);
    }
  
    45% {
      transform: translateX(100%);
  
    }
    100%
    {
    transform: scaleY(0) translateX(calc(85em));
    }
  }

}




@media (min-width: 1800px) {


  .lighbar {
    height: 50%;
    margin:0 auto;
}
@keyframes animatelightbar
{
  0%,5%
  {
    transform: scaleY(0) translateX(0);
  }
  10%
  {
    transform: scaleY(1) translateX(0);
  }
  90%
  {
    transform: scaleY(1) translateX(calc(85em - 10px));
  }
  95%,100%
  {
    transform: scaleY(0) translateX(calc(85em - 10px));
  }

}


  .toplayer{
    position: absolute;
    top: 17%;
    left: 5%;
    width: 85em;
    height: 100%;
    background: #081b29;
  

    animation: animatetoplayer 10s linear forwards;
  
  }
  
  @keyframes animatetoplayer {
    0% {
      transform: translateX(0);
    }
  
    5% {
      transform: translateX(0);
    }
  
    45% {
      transform: translateX(100%);
  
    }
    100%
    {
    transform: scaleY(0) translateX(calc(85em));
    }
  }

}




