
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

input[type=radio] {
  display: none;
}


img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}






// =======================CARROUSSEL WEB============================================



.container_carrousel {

  margin: -10% 0;
  
}


.card3 {
  position: absolute;
  width: 17%;
  height: 75%;
  left: 0;
  right: 0;
  margin: auto;
    margin-left: auto;
  transition: transform .4s ease;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  margin-left: 196px;
  border-radius: 15px;

  
}

.cards {

  margin: 10% 0;
}


.container_carrousel #item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3,
#item-4:checked ~ .cards #song-4 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

.container_carrousel #item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-4,
#item-4:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel #item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-4,
#item-3:checked ~ .cards #song-1,
#item-4:checked ~ .cards #song-2 {
  transform: translatex(0) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel #item-1:checked ~ .cards #song-4,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2,
#item-4:checked ~ .cards #song-3 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

//=======================================================================================





// =======================CARROUSSEL PAYSAGE============================================


.container_carrousel2 {

 
}

.card2 {

  position: absolute;
  width: 510px;
  height: 360px;
  left: 0;
  right: 0;
  margin: 0% 8%;
  
  transition: transform .4s ease;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  
  border-radius: 15px;
}

.card2 img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Pour ajuster l'image au div tout en conservant les proportions */
}

.cards2 {

  margin: 10% 0;

}





.container_carrousel2 #item-1:checked ~ .cards2 #song-1,
.container_carrousel2 #item-2:checked ~ .cards2 #song-2,
.container_carrousel2 #item-3:checked ~ .cards2 #song-3,
.container_carrousel2 #item-4:checked ~ .cards2 #song-4,
.container_carrousel2 #item-5:checked ~ .cards2 #song-5,
.container_carrousel2 #item-6:checked ~ .cards2 #song-6,
.container_carrousel2 #item-7:checked ~ .cards2 #song-7,
.container_carrousel2 #item-8:checked ~ .cards2 #song-8,
.container_carrousel2 #item-9:checked ~ .cards2 #song-9 {
  transform: translateY(0) scale(1);
  opacity: 1;
  z-index: 1;
}

.container_carrousel2 #item-1:checked ~ .cards2 #song-2,
.container_carrousel2 #item-2:checked ~ .cards2 #song-3,
.container_carrousel2 #item-3:checked ~ .cards2 #song-4,
.container_carrousel2 #item-4:checked ~ .cards2 #song-5,
.container_carrousel2 #item-5:checked ~ .cards2 #song-6,
.container_carrousel2 #item-6:checked ~ .cards2 #song-7,
.container_carrousel2 #item-7:checked ~ .cards2 #song-8,
.container_carrousel2 #item-8:checked ~ .cards2 #song-9,
.container_carrousel2 #item-9:checked ~ .cards2 #song-1 {
  transform: translateY(25%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel2 #item-1:checked ~ .cards2 #song-3,
.container_carrousel2 #item-2:checked ~ .cards2 #song-4,
.container_carrousel2 #item-3:checked ~ .cards2 #song-5,
.container_carrousel2 #item-4:checked ~ .cards2 #song-6,
.container_carrousel2 #item-5:checked ~ .cards2 #song-7,
.container_carrousel2 #item-6:checked ~ .cards2 #song-8,
.container_carrousel2 #item-7:checked ~ .cards2 #song-9,
.container_carrousel2 #item-8:checked ~ .cards2 #song-1,
.container_carrousel2 #item-9:checked ~ .cards2 #song-2 {
  transform: translateY(0) scale(0.8);
  opacity: 0.4;
  z-index: 0
}



.container_carrousel2 #item-1:checked ~ .cards2 #song-4,
.container_carrousel2 #item-2:checked ~ .cards2 #song-5,
.container_carrousel2 #item-3:checked ~ .cards2 #song-6,
.container_carrousel2 #item-4:checked ~ .cards2 #song-7,
.container_carrousel2 #item-5:checked ~ .cards2 #song-8,
.container_carrousel2 #item-6:checked ~ .cards2 #song-9,
.container_carrousel2 #item-7:checked ~ .cards2 #song-1,
.container_carrousel2 #item-8:checked ~ .cards2 #song-2,
.container_carrousel2 #item-9:checked ~ .cards2 #song-3 {
  transform: translateY(0) scale(0.8);
opacity: 0.4;
z-index: 0
}

.container_carrousel2 #item-1:checked ~ .cards2 #song-5,
.container_carrousel2 #item-2:checked ~ .cards2 #song-6,
.container_carrousel2 #item-3:checked ~ .cards2 #song-7,
.container_carrousel2 #item-4:checked ~ .cards2 #song-8,
.container_carrousel2 #item-5:checked ~ .cards2 #song-9,
.container_carrousel2 #item-6:checked ~ .cards2 #song-1,
.container_carrousel2 #item-7:checked ~ .cards2 #song-2,
.container_carrousel2 #item-8:checked ~ .cards2 #song-3,
.container_carrousel2 #item-9:checked ~ .cards2 #song-4 {
  transform: translateY(0) scale(0.8);
  opacity: 0.4;
  z-index: 0
}

.container_carrousel2 #item-1:checked ~ .cards2 #song-6,
.container_carrousel2 #item-2:checked ~ .cards2 #song-7,
.container_carrousel2 #item-3:checked ~ .cards2 #song-8,
.container_carrousel2 #item-4:checked ~ .cards2 #song-9,
.container_carrousel2 #item-5:checked ~ .cards2 #song-1,
.container_carrousel2 #item-6:checked ~ .cards2 #song-2,
.container_carrousel2 #item-7:checked ~ .cards2 #song-3,
.container_carrousel2 #item-8:checked ~ .cards2 #song-4,
.container_carrousel2 #item-9:checked ~ .cards2 #song-5 {
  transform: translateY(0) scale(0.8);
opacity: 0.4;
z-index: 0
}

.container_carrousel2 #item-1:checked ~ .cards2 #song-7,
.container_carrousel2 #item-2:checked ~ .cards2 #song-8,
.container_carrousel2 #item-3:checked ~ .cards2 #song-9,
.container_carrousel2 #item-4:checked ~ .cards2 #song-1,
.container_carrousel2 #item-5:checked ~ .cards2 #song-2,
.container_carrousel2 #item-6:checked ~ .cards2 #song-3,
.container_carrousel2 #item-7:checked ~ .cards2 #song-4,
.container_carrousel2 #item-8:checked ~ .cards2 #song-5,
.container_carrousel2 #item-9:checked ~ .cards2 #song-6 {
  transform: translateY(0) scale(0.8);
  opacity: 0.4;
  z-index: 0
}

.container_carrousel2 #item-1:checked ~ .cards2 #song-8,
.container_carrousel2 #item-2:checked ~ .cards2 #song-9,
.container_carrousel2 #item-3:checked ~ .cards2 #song-1,
.container_carrousel2 #item-4:checked ~ .cards2 #song-2,
.container_carrousel2 #item-5:checked ~ .cards2 #song-3,
.container_carrousel2 #item-6:checked ~ .cards2 #song-4,
.container_carrousel2 #item-7:checked ~ .cards2 #song-5,
.container_carrousel2 #item-8:checked ~ .cards2 #song-6,
.container_carrousel2 #item-9:checked ~ .cards2 #song-7 {
  transform: translateY(0) scale(0.8);
opacity: 0.4;
z-index: 0
}

.container_carrousel2 #item-1:checked ~ .cards2 #song-9,
.container_carrousel2 #item-2:checked ~ .cards2 #song-1,
.container_carrousel2 #item-3:checked ~ .cards2 #song-2,
.container_carrousel2 #item-4:checked ~ .cards2 #song-3,
.container_carrousel2 #item-5:checked ~ .cards2 #song-4,
.container_carrousel2 #item-6:checked ~ .cards2 #song-5,
.container_carrousel2 #item-7:checked ~ .cards2 #song-6,
.container_carrousel2 #item-8:checked ~ .cards2 #song-7,
.container_carrousel2 #item-9:checked ~ .cards2 #song-8 {
  transform: translateY(-25%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

//=======================================================================================

// =======================CARROUSSEL CREATION============================================


.container_carrousel5 {

  
}

.card5 {
  position: absolute;
  width: 510px;
  height: 360px;
  left: 0;
  right: 0;
  margin: 0% 8%;
  transition: transform .4s ease;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  border-radius: 15px;
}

.card5 img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Pour ajuster l'image au div tout en conservant les proportions */
}

.cards5 {
  margin: 10% 0;
}
.container_carrousel5 
#item-1:checked ~ .cards5 #song-1, 
#item-2:checked ~ .cards5 #song-2,
#item-3:checked ~ .cards5 #song-3,
#item-4:checked ~ .cards5 #song-4,
#item-5:checked ~ .cards5 #song-5,
#item-6:checked ~ .cards5 #song-6,
#item-7:checked ~ .cards5 #song-7,
#item-8:checked ~ .cards5 #song-8,
#item-9:checked ~ .cards5 #song-9,
#item-10:checked ~ .cards5 #song-10,
#item-11:checked ~ .cards5 #song-11,
#item-12:checked ~ .cards5 #song-12,
#item-13:checked ~ .cards5 #song-13,
#item-14:checked ~ .cards5 #song-14 
 {
  transform: translateY(0) scale(1);
  opacity: 1;
  z-index: 1;
}

.container_carrousel5 
#item-1:checked ~ .cards5 #song-2,
#item-2:checked ~ .cards5 #song-3,
#item-3:checked ~ .cards5 #song-4,
#item-4:checked ~ .cards5 #song-5,
#item-5:checked ~ .cards5 #song-6,
#item-6:checked ~ .cards5 #song-7,
#item-7:checked ~ .cards5 #song-8,
#item-8:checked ~ .cards5 #song-9,
#item-9:checked ~ .cards5 #song-10,
#item-10:checked ~.cards5 #song-11,
#item-11:checked ~.cards5 #song-12,
#item-12:checked ~.cards5 #song-13,
#item-13:checked ~.cards5 #song-14,
#item-14:checked ~.cards5 #song-1{
  transform: translateY(25%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}


.container_carrousel5 
#item-1:checked ~ .cards5 #song-3,
#item-2:checked ~ .cards5 #song-4,
#item-3:checked ~ .cards5 #song-5,
#item-4:checked ~ .cards5 #song-6,
#item-5:checked ~ .cards5 #song-7,
#item-6:checked ~ .cards5 #song-8,
#item-7:checked ~ .cards5 #song-9,
#item-8:checked ~ .cards5 #song-10,
#item-9:checked ~.cards5 #song-11,
#item-10:checked ~.cards5 #song-12,
#item-11:checked ~.cards5 #song-13,
#item-12:checked ~.cards5 #song-14,
#item-13:checked ~.cards5 #song-1, 
#item-14:checked ~ .cards5 #song-2{
  transform: translateY(0) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}


.container_carrousel5 
#item-1:checked ~ .cards5 #song-4,
#item-2:checked ~ .cards5 #song-5,
#item-3:checked ~ .cards5 #song-6,
#item-4:checked ~ .cards5 #song-7,
#item-5:checked ~ .cards5 #song-8,
#item-6:checked ~ .cards5 #song-9,
#item-7:checked ~ .cards5 #song-10,
#item-8:checked ~.cards5 #song-11,
#item-9:checked ~.cards5 #song-12,
#item-10:checked ~.cards5 #song-13,
#item-11:checked ~.cards5 #song-14,
#item-12:checked ~.cards5 #song-1, 
#item-13:checked ~ .cards5 #song-2, 
#item-14:checked ~ .cards5 #song-3{
  transform: translateY(0) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}


.container_carrousel5 
#item-1:checked ~ .cards5 #song-5,
#item-2:checked ~ .cards5 #song-6,
#item-3:checked ~ .cards5 #song-7,
#item-4:checked ~ .cards5 #song-8,
#item-5:checked ~ .cards5 #song-9,
#item-6:checked ~ .cards5 #song-10, 
#item-7:checked ~.cards5 #song-11,
#item-8:checked ~.cards5 #song-12,
#item-9:checked ~.cards5 #song-13,
#item-10:checked ~.cards5 #song-14,
#item-11:checked ~.cards5 #song-1, 
#item-12:checked ~ .cards5 #song-2, 
#item-13:checked ~ .cards5 #song-3,
#item-14:checked ~ .cards5 #song-4{
  transform: translateY(0) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel5 
#item-1:checked ~ .cards5 #song-6,
#item-2:checked ~ .cards5 #song-7,
#item-3:checked ~ .cards5 #song-8,
#item-4:checked ~ .cards5 #song-9,
#item-5:checked ~ .cards5 #song-10,
#item-60:checked ~.cards5 #song-11,
#item-7:checked ~.cards5 #song-12,
#item-8:checked ~.cards5 #song-13,
#item-9:checked ~.cards5 #song-14,
#item-10:checked ~.cards5 #song-1, 
#item-11:checked ~ .cards5 #song-2, 
#item-12:checked ~ .cards5 #song-3,
#item-13:checked ~ .cards5 #song-4,
#item-14:checked ~ .cards5 #song-5{
  transform: translateY(0) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel5 
#item-1:checked ~ .cards5 #song-7,
#item-2:checked ~ .cards5 #song-8,
#item-3:checked ~ .cards5 #song-9,
#item-4:checked ~ .cards5 #song-10,
#item-5:checked ~.cards5 #song-11,
#item-6:checked ~.cards5 #song-12,
#item-7:checked ~.cards5 #song-13,
#item-8:checked ~.cards5 #song-14,
#item-9:checked ~.cards5 #song-1, 
#item-10:checked ~ .cards5 #song-2, 
#item-11:checked ~ .cards5 #song-3,
#item-12:checked ~ .cards5 #song-4,
#item-13:checked ~ .cards5 #song-5,
#item-14:checked ~ .cards5 #song-6{
  transform: translateY(0) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel5 
#item-1:checked ~ .cards5 #song-8,
#item-2:checked ~ .cards5 #song-9,
#item-3:checked ~ .cards5 #song-10, 
#item-4:checked ~.cards5 #song-11,
#item-5:checked ~.cards5 #song-12,
#item-6:checked ~.cards5 #song-13,
#item-7:checked ~.cards5 #song-14,
#item-8:checked ~.cards5 #song-1, 
#item-9:checked ~ .cards5 #song-2, 
#item-10:checked ~ .cards5 #song-3,
#item-11:checked ~ .cards5 #song-4,
#item-12:checked ~ .cards5 #song-5,
#item-13:checked ~ .cards5 #song-6,
#item-14:checked ~ .cards5 #song-7{
  transform: translateY(0) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel5 

#item-1:checked ~ .cards5 #song-9,
#item-2:checked ~ .cards5 #song-10, 
#item-3:checked ~.cards5 #song-11,
#item-4:checked ~.cards5 #song-12,
#item-5:checked ~.cards5 #song-13,
#item-6:checked ~.cards5 #song-14,
#item-7:checked ~.cards5 #song-1, 
#item-8:checked ~ .cards5 #song-2, 
#item-9:checked ~ .cards5 #song-3,
#item-10:checked ~ .cards5 #song-4,
#item-11:checked ~ .cards5 #song-5,
#item-12:checked ~ .cards5 #song-6,
#item-13:checked ~ .cards5 #song-7,
#item-14:checked ~ .cards5 #song-8{
  transform: translateY(0) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel5 
#item-1:checked ~ .cards5 #song-10, 
#item-2:checked ~.cards5 #song-11,
#item-3:checked ~.cards5 #song-12,
#item-4:checked ~.cards5 #song-13,
#item-5:checked ~.cards5 #song-14,
#item-6:checked ~.cards5 #song-1, 
#item-7:checked ~ .cards5 #song-2, 
#item-8:checked ~ .cards5 #song-3,
#item-9:checked ~ .cards5 #song-4,
#item-10:checked ~ .cards5 #song-5,
#item-11:checked ~ .cards5 #song-6,
#item-12:checked ~ .cards5 #song-7,
#item-13:checked ~ .cards5 #song-8,
#item-14:checked ~ .cards5 #song-9{
  transform: translateY(0) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel5 
#item-1:checked ~.cards5 #song-11,
#item-2:checked ~.cards5 #song-12,
#item-3:checked ~.cards5 #song-13,
#item-4:checked ~.cards5 #song-14,
#item-5:checked ~.cards5 #song-1, 
#item-6:checked ~ .cards5 #song-2, 
#item-7:checked ~ .cards5 #song-3,
#item-8:checked ~ .cards5 #song-4,
#item-9:checked ~ .cards5 #song-5,
#item-10:checked ~ .cards5 #song-6,
#item-11:checked ~ .cards5 #song-7,
#item-12:checked ~ .cards5 #song-8,
#item-13:checked ~ .cards5 #song-9,
#item-14:checked ~ .cards5 #song-10 {
  transform: translateY(0) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel5 
#item-1:checked ~.cards5 #song-12,
#item-2:checked ~.cards5 #song-13,
#item-3:checked ~.cards5 #song-14,
#item-4:checked ~.cards5 #song-1, 
#item-5:checked ~ .cards5 #song-2, 
#item-6:checked ~ .cards5 #song-3,
#item-7:checked ~ .cards5 #song-4,
#item-8:checked ~ .cards5 #song-5,
#item-9:checked ~ .cards5 #song-6,
#item-10:checked ~ .cards5 #song-7,
#item-11:checked ~ .cards5 #song-8,
#item-12:checked ~ .cards5 #song-9,
#item-13:checked ~ .cards5 #song-10,
#item-14:checked ~.cards5 #song-11 {
  transform: translateY(0) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel5 
#item-1:checked ~.cards5 #song-13,
#item-2:checked ~.cards5 #song-14,
#item-3:checked ~.cards5 #song-1, 
#item-4:checked ~ .cards5 #song-2, 
#item-5:checked ~ .cards5 #song-3,
#item-6:checked ~ .cards5 #song-4,
#item-7:checked ~ .cards5 #song-5,
#item-8:checked ~ .cards5 #song-6,
#item-9:checked ~ .cards5 #song-7,
#item-10:checked ~ .cards5 #song-8,
#item-11:checked ~ .cards5 #song-9,
#item-12:checked ~ .cards5 #song-10,
#item-13:checked ~.cards5 #song-11,
#item-14:checked ~.cards5 #song-12{
  transform: translateY(0) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel5 
#item-1:checked ~.cards5 #song-14,
#item-2:checked ~.cards5 #song-1, 
#item-3:checked ~ .cards5 #song-2, 
#item-4:checked ~ .cards5 #song-3,
#item-5:checked ~ .cards5 #song-4,
#item-6:checked ~ .cards5 #song-5,
#item-7:checked ~ .cards5 #song-6,
#item-8:checked ~ .cards5 #song-7,
#item-9:checked ~ .cards5 #song-8,
#item-10:checked ~ .cards5 #song-9,
#item-11:checked ~ .cards5 #song-10,
#item-12:checked ~.cards5 #song-11,
#item-13:checked ~.cards5 #song-12,
#item-14:checked ~.cards5 #song-13{
  transform: translateY(-25%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}












//=======================================================================================


// =======================CARROUSSEL PORTRAIT============================================

.container_carrousel3 {
  display: flex;
  justify-content: center;
  margin:-10% auto;
  
}

.card {

  position: absolute;
  width: 358px;
  height: 500px;
  left: 0;
  right: 0;
  margin: auto;
    margin-left: auto;
  transition: transform .4s ease;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  margin-left: 180px;
  border-radius: 15px;
}

.cards3 {

  margin: 15% 0;
}







.container_carrousel3 
#item-1:checked ~ .cards3 #song-1,
#item-2:checked ~ .cards3 #song-2,
#item-3:checked ~ .cards3 #song-3,
#item-4:checked ~ .cards3 #song-4 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

.container_carrousel3 
#item-1:checked ~ .cards3 #song-2,
#item-2:checked ~ .cards3 #song-3,
#item-3:checked ~ .cards3 #song-4,
#item-4:checked ~ .cards3 #song-1 {
  transform: translatex(30%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel3 
#item-1:checked ~ .cards3 #song-3,
#item-2:checked ~ .cards3 #song-4,
#item-3:checked ~ .cards3 #song-1,
#item-4:checked ~ .cards3 #song-2 {
  transform: translatex(0) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel3 
#item-1:checked ~ .cards3 #song-4,
#item-2:checked ~ .cards3 #song-1,
#item-3:checked ~ .cards3 #song-2,
#item-4:checked ~ .cards3 #song-3 {
  transform: translatex(-30%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

//=======================================================================================




// =======================CARROUSSEL FOTOBORNE============================================



.container_carrousel4{
 
  display: flex;
  justify-content: center;
  
  margin: 2% -8%;
}

.card4 {
  position: absolute;
  width: 358px;
  height: 500px;
  left: 0;
  right: 0;
  margin: auto;
    margin-left: auto;
  transition: transform .4s ease;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  margin-left: 180px;
  border-radius: 15px;
}

.cards4 {
  position: relative;
  width: 100%;
  height: 93%;
  padding: 33px;
}



.container_carrousel4
#item-1:checked ~ .cards4 #song-1,
#item-2:checked ~ .cards4 #song-2,
#item-3:checked ~ .cards4 #song-3,
#item-4:checked ~ .cards4 #song-4,
#item-5:checked ~ .cards4 #song-5  {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

.container_carrousel4
#item-1:checked ~ .cards4 #song-2,
#item-2:checked ~ .cards4 #song-3,
#item-3:checked ~ .cards4 #song-4,
#item-4:checked ~ .cards4 #song-5,
#item-5:checked ~ .cards4 #song-1 
{
  transform: translatex(30%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel4
#item-1:checked ~ .cards4 #song-3,
#item-2:checked ~ .cards4 #song-4,
#item-3:checked ~ .cards4 #song-5,
#item-4:checked ~ .cards4 #song-1,
#item-5:checked ~ .cards4 #song-2 {
  
  transform: translatex(0) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel4
#item-1:checked ~ .cards4 #song-4,
#item-2:checked ~ .cards4 #song-5,
#item-3:checked ~ .cards4 #song-1,
#item-4:checked ~ .cards4 #song-2,
#item-5:checked ~ .cards4 #song-3 {
  transform: translatex(0) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel4
#item-1:checked ~ .cards4 #song-5,
#item-2:checked ~ .cards4 #song-1,
#item-3:checked ~ .cards4 #song-2,
#item-4:checked ~ .cards4 #song-3, 
#item-5:checked ~ .cards4 #song-4 {
  transform: translatex(-30%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

// ===================================================================






.text_informations2{
  position: absolute;
 
  top: 15%;
  left: 49%;
  right: 7%;
}
  

.text_informations2 h2{
  color:#00b3ff;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.text_informations2 p{
  color:white;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-align: justify;
  // font-weight: 600;
}

.text_informations2 h3{
  color:#00b3ff;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}




.text_informations{
  position: absolute;
  top: 15%;
  left: 49%;
  right: 7%;
}
  

.text_informations h2{
  color:#00b3ff;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.text_informations p{
  color:white;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-align: justify;
  // font-weight: 600;
}

.text_informations h3{
  color:#00b3ff;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}







.text_informations3{
  position: absolute;
  top: 66%;
  left: 355px;
  right: 362px;
}
  

.text_informations3 h2{
  color:#00b3ff;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.text_informations3 p{
  color:white;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-align: justify;
  // font-weight: 600;
}

.text_informations3 h3{
  color:#00b3ff;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}




@media screen and (min-width: 310px) and (max-width: 840px) {

  body {
    display: flex;
    justify-content: center; 
  }
  

//==================CITY BREAK==================


  .container_carrousel {
    margin: 0% auto;
  }

  .card3 {
    width: 136px;
    height: 320px;
    margin: -10% auto;
    
  }
  

  .text_informations {
    position: absolute;
    top: 45%;
    left: 5%;
   
  }

  .text_informations h2{
    font-size: 18px;
  }

  .text_informations h3{
    font-size: 16px;
  }

  .text_informations p{
    font-size: 12px;
  }

  //==================LIONS CLUB ==================

  .container_carrousel3 {
    margin: -5% auto;
    
  }
  
  .card {
    width: 210px;
    height: 298px;
    margin: 0 auto;
  }
  
  
  .text_informations2 {
    position: absolute;
    top: 60%;
    left: 5%;
   
  }

  .text_informations2 h2{
    font-size: 18px;
  }

  .text_informations2 h3{
    font-size: 16px;
  }

  .text_informations2 p{
    font-size: 12px;
  }

  //==================GORILLAS ==================

  .container_carrousel2 {
    margin: -5% auto;
  }
  
  .card2 {
    width: 325px;
    height: 230px;
    margin: 15% auto;
  }

   //==================CREATION ==================

   .container_carrousel5 {
    margin: -5% auto;
  
   }

  .card5 {
    width: 325px;
    height: 230px;
    margin: 15% auto;
  }
  
 //==================FOTOBORNE ==================

  .container_carrousel4{
    margin: 0 auto;
    left:0;
  }
  
  .card4 {
    width: 210px;
    height: 298px;
    margin: 0 auto;
  }

 

}

@media screen and (min-width: 840px) and (max-width: 1200px) {
  body {
    display: flex;
    justify-content: center; 
  }
  .container_carrousel { 
    margin: 0% auto;
  }

  .card3 {
    width: 152px;
    height: 360px;
    margin: -10% auto;
    
  }

 


  .text_informations {
    position: absolute;
    top: 50%;
    left: 5%;
   
  }

  .text_informations h2{
    font-size: 18px;
  }

  .text_informations h3{
    font-size: 16px;
  }

  .text_informations p{
    font-size: 12px;
  }
    .container_carrousel3 {
      margin: -10% auto;
      
    }
    
    .card {
      width: 204px;
      height: 290px;
      margin: 0 auto;
    }
  
    .text_informations2 {
      position: absolute;
      top: 50%;
      left: 5%;
     
    }
  
    .text_informations2 h2{
      font-size: 18px;
    }
  
    .text_informations2 h3{
      font-size: 16px;
    }
  
    .text_informations2 p{
      font-size: 12px;
    }

    //==================GORILLAS ==================

  .container_carrousel2 {
    margin: -5% auto;
  }
  
  .card2 {
    width: 325px;
    height: 230px;
    margin: 1% auto;
  }

     //==================CREATION ==================

     .container_carrousel5 {
      margin: -5% auto;
    
     }
  
    .card5 {
      width: 325px;
      height: 230px;
    margin: 1% auto;
    }

   //==================FOTOBORNE ==================

   .container_carrousel4{
    margin: 0 auto;
    left:0;
  }
  
  .card4 {
    width: 204px;
    height: 290px;
    margin: 0 auto;
  }
  
  }


@media screen and (min-width: 1200px) and (max-width: 1400px)  {
  body {
    display: flex;
    justify-content: center; 
  }
  .container_carrousel {
    margin: -4% auto;
  }

  
  .card3{
    width: 211px;
    height: 500px;
    
  }

  .cards{
    margin:5% auto;
  }
  .text_informations h2{
    font-size: 24px;
  }

  .text_informations h3{
    font-size: 22px;
  }

  .text_informations p{
    font-size: 18px;
  }

  .container_carrousel3 {
    margin: 0% auto;
    
  }
  
  .card {
    width: 288px;
    height: 400px;
    
    
  }

  .cards3{
    margin:6% auto;
  }


  .text_informations2 h2{
    font-size: 24px;
  }

  .text_informations2 h3{
    font-size: 22px;
  }

  .text_informations2 p{
    font-size: 18px;
  }

      //==================GORILLAS ==================

      .container_carrousel2 {
        margin: 0% auto;
      }
      
      .card2 {
        width: 424px;
        height: 300px;
      }

         //==================CREATION ==================

     .container_carrousel5 {
      margin: 0% auto;
    
     }
  
    .card5 {
      width: 424px;
      height: 300px;
    }
      
      }
