
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

input[type=radio] {
  display: none;
}


img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.access-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  border: solid 1px #00b3ff;
  text-align: center;
  transition: background-color 0.3s;
  font-family: 'Poppins', sans-serif;
  color:white;
  font-size:15px ;
}
.access-button:hover {
  background-color: #00b3ff;
  color: white;
}





// =======================CARROUSSEL WEB============================================



.container_carrousel {

  margin: -10% 0;
  
}


.card3 {
  position: absolute;
  width: 15em;
  height: 35em;
  left: 0em;
  right:0em;
  margin: auto;
  margin-left: auto;
margin-left: auto;
transition: transform .4s ease;
cursor: pointer;
border: none;
outline: none;
background: none;
margin-left: 5em;
border-radius: 15px;
}



  


.cards {

  margin: 10% 0;
}


.container_carrousel #item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3,
#item-4:checked ~ .cards #song-4 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

.container_carrousel #item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-4,
#item-4:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel #item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-4,
#item-3:checked ~ .cards #song-1,
#item-4:checked ~ .cards #song-2 {
  transform: translatex(0) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel #item-1:checked ~ .cards #song-4,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2,
#item-4:checked ~ .cards #song-3 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

//=======================================================================================





// =======================CARROUSSEL PAYSAGE============================================


.container_carrousel2 {

 
}

.card2 {

  position: absolute;
  width: 29em;
  height: 22em;
  left: 0;
  right: 0;
  transition: transform .4s ease;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  border-radius: 15px;
  margin-left: 1em;
}

.card2 img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.cards2 {

  margin: 10% 0;

}





.container_carrousel2 #item-1:checked ~ .cards2 #song-1,
.container_carrousel2 #item-2:checked ~ .cards2 #song-2,
.container_carrousel2 #item-3:checked ~ .cards2 #song-3,
.container_carrousel2 #item-4:checked ~ .cards2 #song-4,
.container_carrousel2 #item-5:checked ~ .cards2 #song-5,
.container_carrousel2 #item-6:checked ~ .cards2 #song-6,
.container_carrousel2 #item-7:checked ~ .cards2 #song-7,
.container_carrousel2 #item-8:checked ~ .cards2 #song-8,
.container_carrousel2 #item-9:checked ~ .cards2 #song-9 {
  transform: translateY(0) scale(1);
  opacity: 1;
  z-index: 1;
}

.container_carrousel2 #item-1:checked ~ .cards2 #song-2,
.container_carrousel2 #item-2:checked ~ .cards2 #song-3,
.container_carrousel2 #item-3:checked ~ .cards2 #song-4,
.container_carrousel2 #item-4:checked ~ .cards2 #song-5,
.container_carrousel2 #item-5:checked ~ .cards2 #song-6,
.container_carrousel2 #item-6:checked ~ .cards2 #song-7,
.container_carrousel2 #item-7:checked ~ .cards2 #song-8,
.container_carrousel2 #item-8:checked ~ .cards2 #song-9,
.container_carrousel2 #item-9:checked ~ .cards2 #song-1 {
  transform: translateY(25%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel2 #item-1:checked ~ .cards2 #song-3,
.container_carrousel2 #item-2:checked ~ .cards2 #song-4,
.container_carrousel2 #item-3:checked ~ .cards2 #song-5,
.container_carrousel2 #item-4:checked ~ .cards2 #song-6,
.container_carrousel2 #item-5:checked ~ .cards2 #song-7,
.container_carrousel2 #item-6:checked ~ .cards2 #song-8,
.container_carrousel2 #item-7:checked ~ .cards2 #song-9,
.container_carrousel2 #item-8:checked ~ .cards2 #song-1,
.container_carrousel2 #item-9:checked ~ .cards2 #song-2 {
  transform: translateY(0) scale(0.8);
  opacity: 0.4;
  z-index: 0
}



.container_carrousel2 #item-1:checked ~ .cards2 #song-4,
.container_carrousel2 #item-2:checked ~ .cards2 #song-5,
.container_carrousel2 #item-3:checked ~ .cards2 #song-6,
.container_carrousel2 #item-4:checked ~ .cards2 #song-7,
.container_carrousel2 #item-5:checked ~ .cards2 #song-8,
.container_carrousel2 #item-6:checked ~ .cards2 #song-9,
.container_carrousel2 #item-7:checked ~ .cards2 #song-1,
.container_carrousel2 #item-8:checked ~ .cards2 #song-2,
.container_carrousel2 #item-9:checked ~ .cards2 #song-3 {
  transform: translateY(0) scale(0.8);
opacity: 0.4;
z-index: 0
}

.container_carrousel2 #item-1:checked ~ .cards2 #song-5,
.container_carrousel2 #item-2:checked ~ .cards2 #song-6,
.container_carrousel2 #item-3:checked ~ .cards2 #song-7,
.container_carrousel2 #item-4:checked ~ .cards2 #song-8,
.container_carrousel2 #item-5:checked ~ .cards2 #song-9,
.container_carrousel2 #item-6:checked ~ .cards2 #song-1,
.container_carrousel2 #item-7:checked ~ .cards2 #song-2,
.container_carrousel2 #item-8:checked ~ .cards2 #song-3,
.container_carrousel2 #item-9:checked ~ .cards2 #song-4 {
  transform: translateY(0) scale(0.8);
  opacity: 0.4;
  z-index: 0
}

.container_carrousel2 #item-1:checked ~ .cards2 #song-6,
.container_carrousel2 #item-2:checked ~ .cards2 #song-7,
.container_carrousel2 #item-3:checked ~ .cards2 #song-8,
.container_carrousel2 #item-4:checked ~ .cards2 #song-9,
.container_carrousel2 #item-5:checked ~ .cards2 #song-1,
.container_carrousel2 #item-6:checked ~ .cards2 #song-2,
.container_carrousel2 #item-7:checked ~ .cards2 #song-3,
.container_carrousel2 #item-8:checked ~ .cards2 #song-4,
.container_carrousel2 #item-9:checked ~ .cards2 #song-5 {
  transform: translateY(0) scale(0.8);
opacity: 0.4;
z-index: 0
}

.container_carrousel2 #item-1:checked ~ .cards2 #song-7,
.container_carrousel2 #item-2:checked ~ .cards2 #song-8,
.container_carrousel2 #item-3:checked ~ .cards2 #song-9,
.container_carrousel2 #item-4:checked ~ .cards2 #song-1,
.container_carrousel2 #item-5:checked ~ .cards2 #song-2,
.container_carrousel2 #item-6:checked ~ .cards2 #song-3,
.container_carrousel2 #item-7:checked ~ .cards2 #song-4,
.container_carrousel2 #item-8:checked ~ .cards2 #song-5,
.container_carrousel2 #item-9:checked ~ .cards2 #song-6 {
  transform: translateY(0) scale(0.8);
  opacity: 0.4;
  z-index: 0
}

.container_carrousel2 #item-1:checked ~ .cards2 #song-8,
.container_carrousel2 #item-2:checked ~ .cards2 #song-9,
.container_carrousel2 #item-3:checked ~ .cards2 #song-1,
.container_carrousel2 #item-4:checked ~ .cards2 #song-2,
.container_carrousel2 #item-5:checked ~ .cards2 #song-3,
.container_carrousel2 #item-6:checked ~ .cards2 #song-4,
.container_carrousel2 #item-7:checked ~ .cards2 #song-5,
.container_carrousel2 #item-8:checked ~ .cards2 #song-6,
.container_carrousel2 #item-9:checked ~ .cards2 #song-7 {
  transform: translateY(0) scale(0.8);
opacity: 0.4;
z-index: 0
}

.container_carrousel2 #item-1:checked ~ .cards2 #song-9,
.container_carrousel2 #item-2:checked ~ .cards2 #song-1,
.container_carrousel2 #item-3:checked ~ .cards2 #song-2,
.container_carrousel2 #item-4:checked ~ .cards2 #song-3,
.container_carrousel2 #item-5:checked ~ .cards2 #song-4,
.container_carrousel2 #item-6:checked ~ .cards2 #song-5,
.container_carrousel2 #item-7:checked ~ .cards2 #song-6,
.container_carrousel2 #item-8:checked ~ .cards2 #song-7,
.container_carrousel2 #item-9:checked ~ .cards2 #song-8 {
  transform: translateY(-25%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

//=======================================================================================

// =======================CARROUSSEL CREATION============================================


.container_carrousel5 {

  
}

.card5 {
  position: absolute;
  width: 31em;
  height: 22em;
  left: 0;
  right: 0;
  transition: transform .4s ease;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  border-radius: 15px;
  margin-left: 1em;
}

.card5 img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.cards5 {
  margin: 10% 0;
}
.container_carrousel5 
#item-1:checked ~ .cards5 #song-1, 
#item-2:checked ~ .cards5 #song-2,
#item-3:checked ~ .cards5 #song-3,
#item-4:checked ~ .cards5 #song-4,
#item-5:checked ~ .cards5 #song-5,
#item-6:checked ~ .cards5 #song-6,
#item-7:checked ~ .cards5 #song-7,
#item-8:checked ~ .cards5 #song-8,
#item-9:checked ~ .cards5 #song-9,
#item-10:checked ~ .cards5 #song-10,
#item-11:checked ~ .cards5 #song-11,
#item-12:checked ~ .cards5 #song-12,
#item-13:checked ~ .cards5 #song-13,
#item-14:checked ~ .cards5 #song-14 
 {
  transform: translateY(0) scale(1);
  opacity: 1;
  z-index: 1;
}

.container_carrousel5 
#item-1:checked ~ .cards5 #song-2,
#item-2:checked ~ .cards5 #song-3,
#item-3:checked ~ .cards5 #song-4,
#item-4:checked ~ .cards5 #song-5,
#item-5:checked ~ .cards5 #song-6,
#item-6:checked ~ .cards5 #song-7,
#item-7:checked ~ .cards5 #song-8,
#item-8:checked ~ .cards5 #song-9,
#item-9:checked ~ .cards5 #song-10,
#item-10:checked ~.cards5 #song-11,
#item-11:checked ~.cards5 #song-12,
#item-12:checked ~.cards5 #song-13,
#item-13:checked ~.cards5 #song-14,
#item-14:checked ~.cards5 #song-1{
  transform: translateY(25%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}


.container_carrousel5 
#item-1:checked ~ .cards5 #song-3,
#item-2:checked ~ .cards5 #song-4,
#item-3:checked ~ .cards5 #song-5,
#item-4:checked ~ .cards5 #song-6,
#item-5:checked ~ .cards5 #song-7,
#item-6:checked ~ .cards5 #song-8,
#item-7:checked ~ .cards5 #song-9,
#item-8:checked ~ .cards5 #song-10,
#item-9:checked ~.cards5 #song-11,
#item-10:checked ~.cards5 #song-12,
#item-11:checked ~.cards5 #song-13,
#item-12:checked ~.cards5 #song-14,
#item-13:checked ~.cards5 #song-1, 
#item-14:checked ~ .cards5 #song-2{
  transform: translateY(0) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}


.container_carrousel5 
#item-1:checked ~ .cards5 #song-4,
#item-2:checked ~ .cards5 #song-5,
#item-3:checked ~ .cards5 #song-6,
#item-4:checked ~ .cards5 #song-7,
#item-5:checked ~ .cards5 #song-8,
#item-6:checked ~ .cards5 #song-9,
#item-7:checked ~ .cards5 #song-10,
#item-8:checked ~.cards5 #song-11,
#item-9:checked ~.cards5 #song-12,
#item-10:checked ~.cards5 #song-13,
#item-11:checked ~.cards5 #song-14,
#item-12:checked ~.cards5 #song-1, 
#item-13:checked ~ .cards5 #song-2, 
#item-14:checked ~ .cards5 #song-3{
  transform: translateY(0) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}


.container_carrousel5 
#item-1:checked ~ .cards5 #song-5,
#item-2:checked ~ .cards5 #song-6,
#item-3:checked ~ .cards5 #song-7,
#item-4:checked ~ .cards5 #song-8,
#item-5:checked ~ .cards5 #song-9,
#item-6:checked ~ .cards5 #song-10, 
#item-7:checked ~.cards5 #song-11,
#item-8:checked ~.cards5 #song-12,
#item-9:checked ~.cards5 #song-13,
#item-10:checked ~.cards5 #song-14,
#item-11:checked ~.cards5 #song-1, 
#item-12:checked ~ .cards5 #song-2, 
#item-13:checked ~ .cards5 #song-3,
#item-14:checked ~ .cards5 #song-4{
  transform: translateY(0) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel5 
#item-1:checked ~ .cards5 #song-6,
#item-2:checked ~ .cards5 #song-7,
#item-3:checked ~ .cards5 #song-8,
#item-4:checked ~ .cards5 #song-9,
#item-5:checked ~ .cards5 #song-10,
#item-60:checked ~.cards5 #song-11,
#item-7:checked ~.cards5 #song-12,
#item-8:checked ~.cards5 #song-13,
#item-9:checked ~.cards5 #song-14,
#item-10:checked ~.cards5 #song-1, 
#item-11:checked ~ .cards5 #song-2, 
#item-12:checked ~ .cards5 #song-3,
#item-13:checked ~ .cards5 #song-4,
#item-14:checked ~ .cards5 #song-5{
  transform: translateY(0) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel5 
#item-1:checked ~ .cards5 #song-7,
#item-2:checked ~ .cards5 #song-8,
#item-3:checked ~ .cards5 #song-9,
#item-4:checked ~ .cards5 #song-10,
#item-5:checked ~.cards5 #song-11,
#item-6:checked ~.cards5 #song-12,
#item-7:checked ~.cards5 #song-13,
#item-8:checked ~.cards5 #song-14,
#item-9:checked ~.cards5 #song-1, 
#item-10:checked ~ .cards5 #song-2, 
#item-11:checked ~ .cards5 #song-3,
#item-12:checked ~ .cards5 #song-4,
#item-13:checked ~ .cards5 #song-5,
#item-14:checked ~ .cards5 #song-6{
  transform: translateY(0) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel5 
#item-1:checked ~ .cards5 #song-8,
#item-2:checked ~ .cards5 #song-9,
#item-3:checked ~ .cards5 #song-10, 
#item-4:checked ~.cards5 #song-11,
#item-5:checked ~.cards5 #song-12,
#item-6:checked ~.cards5 #song-13,
#item-7:checked ~.cards5 #song-14,
#item-8:checked ~.cards5 #song-1, 
#item-9:checked ~ .cards5 #song-2, 
#item-10:checked ~ .cards5 #song-3,
#item-11:checked ~ .cards5 #song-4,
#item-12:checked ~ .cards5 #song-5,
#item-13:checked ~ .cards5 #song-6,
#item-14:checked ~ .cards5 #song-7{
  transform: translateY(0) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel5 

#item-1:checked ~ .cards5 #song-9,
#item-2:checked ~ .cards5 #song-10, 
#item-3:checked ~.cards5 #song-11,
#item-4:checked ~.cards5 #song-12,
#item-5:checked ~.cards5 #song-13,
#item-6:checked ~.cards5 #song-14,
#item-7:checked ~.cards5 #song-1, 
#item-8:checked ~ .cards5 #song-2, 
#item-9:checked ~ .cards5 #song-3,
#item-10:checked ~ .cards5 #song-4,
#item-11:checked ~ .cards5 #song-5,
#item-12:checked ~ .cards5 #song-6,
#item-13:checked ~ .cards5 #song-7,
#item-14:checked ~ .cards5 #song-8{
  transform: translateY(0) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel5 
#item-1:checked ~ .cards5 #song-10, 
#item-2:checked ~.cards5 #song-11,
#item-3:checked ~.cards5 #song-12,
#item-4:checked ~.cards5 #song-13,
#item-5:checked ~.cards5 #song-14,
#item-6:checked ~.cards5 #song-1, 
#item-7:checked ~ .cards5 #song-2, 
#item-8:checked ~ .cards5 #song-3,
#item-9:checked ~ .cards5 #song-4,
#item-10:checked ~ .cards5 #song-5,
#item-11:checked ~ .cards5 #song-6,
#item-12:checked ~ .cards5 #song-7,
#item-13:checked ~ .cards5 #song-8,
#item-14:checked ~ .cards5 #song-9{
  transform: translateY(0) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel5 
#item-1:checked ~.cards5 #song-11,
#item-2:checked ~.cards5 #song-12,
#item-3:checked ~.cards5 #song-13,
#item-4:checked ~.cards5 #song-14,
#item-5:checked ~.cards5 #song-1, 
#item-6:checked ~ .cards5 #song-2, 
#item-7:checked ~ .cards5 #song-3,
#item-8:checked ~ .cards5 #song-4,
#item-9:checked ~ .cards5 #song-5,
#item-10:checked ~ .cards5 #song-6,
#item-11:checked ~ .cards5 #song-7,
#item-12:checked ~ .cards5 #song-8,
#item-13:checked ~ .cards5 #song-9,
#item-14:checked ~ .cards5 #song-10 {
  transform: translateY(0) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel5 
#item-1:checked ~.cards5 #song-12,
#item-2:checked ~.cards5 #song-13,
#item-3:checked ~.cards5 #song-14,
#item-4:checked ~.cards5 #song-1, 
#item-5:checked ~ .cards5 #song-2, 
#item-6:checked ~ .cards5 #song-3,
#item-7:checked ~ .cards5 #song-4,
#item-8:checked ~ .cards5 #song-5,
#item-9:checked ~ .cards5 #song-6,
#item-10:checked ~ .cards5 #song-7,
#item-11:checked ~ .cards5 #song-8,
#item-12:checked ~ .cards5 #song-9,
#item-13:checked ~ .cards5 #song-10,
#item-14:checked ~.cards5 #song-11 {
  transform: translateY(0) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel5 
#item-1:checked ~.cards5 #song-13,
#item-2:checked ~.cards5 #song-14,
#item-3:checked ~.cards5 #song-1, 
#item-4:checked ~ .cards5 #song-2, 
#item-5:checked ~ .cards5 #song-3,
#item-6:checked ~ .cards5 #song-4,
#item-7:checked ~ .cards5 #song-5,
#item-8:checked ~ .cards5 #song-6,
#item-9:checked ~ .cards5 #song-7,
#item-10:checked ~ .cards5 #song-8,
#item-11:checked ~ .cards5 #song-9,
#item-12:checked ~ .cards5 #song-10,
#item-13:checked ~.cards5 #song-11,
#item-14:checked ~.cards5 #song-12{
  transform: translateY(0) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel5 
#item-1:checked ~.cards5 #song-14,
#item-2:checked ~.cards5 #song-1, 
#item-3:checked ~ .cards5 #song-2, 
#item-4:checked ~ .cards5 #song-3,
#item-5:checked ~ .cards5 #song-4,
#item-6:checked ~ .cards5 #song-5,
#item-7:checked ~ .cards5 #song-6,
#item-8:checked ~ .cards5 #song-7,
#item-9:checked ~ .cards5 #song-8,
#item-10:checked ~ .cards5 #song-9,
#item-11:checked ~ .cards5 #song-10,
#item-12:checked ~.cards5 #song-11,
#item-13:checked ~.cards5 #song-12,
#item-14:checked ~.cards5 #song-13{
  transform: translateY(-25%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}












//=======================================================================================


// =======================CARROUSSEL PORTRAIT============================================

.container_carrousel3 {
  display: flex;
  justify-content: center;
  margin:-10% auto;
  
}

.card {

  position: absolute;
  width: 20em;
  height: 28em;
  left: 0em;
  right: 0em;
  margin: auto;
    margin-left: auto;
  margin-left: auto;
  transition: transform .4s ease;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  margin-left: 5em;
  border-radius: 15px;
}


.cards3 {

  margin: 15% 0;
}







.container_carrousel3 
#item-1:checked ~ .cards3 #song-1,
#item-2:checked ~ .cards3 #song-2,
#item-3:checked ~ .cards3 #song-3,
#item-4:checked ~ .cards3 #song-4 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

.container_carrousel3 
#item-1:checked ~ .cards3 #song-2,
#item-2:checked ~ .cards3 #song-3,
#item-3:checked ~ .cards3 #song-4,
#item-4:checked ~ .cards3 #song-1 {
  transform: translatex(30%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel3 
#item-1:checked ~ .cards3 #song-3,
#item-2:checked ~ .cards3 #song-4,
#item-3:checked ~ .cards3 #song-1,
#item-4:checked ~ .cards3 #song-2 {
  transform: translatex(0) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel3 
#item-1:checked ~ .cards3 #song-4,
#item-2:checked ~ .cards3 #song-1,
#item-3:checked ~ .cards3 #song-2,
#item-4:checked ~ .cards3 #song-3 {
  transform: translatex(-30%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

//=======================================================================================




// =======================CARROUSSEL FOTOBORNE============================================



.container_carrousel4{
 
  display: flex;
  justify-content: center;
  
  margin: 2% -8%;
}

.card4 {
  position: absolute;
  width: 22em;
  height: 30em;
  left: 0;
  right: 0;
  margin: auto;
    margin-left: auto;
  margin-left: auto;
  transition: transform .4s ease;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  margin-left: 10em;
  border-radius: 15px;
}

.cards4 {
  position: relative;
  width: 100%;
  height: 93%;
  padding: 33px;
}





.container_carrousel4
#item-1:checked ~ .cards4 #song-1,
#item-2:checked ~ .cards4 #song-2,
#item-3:checked ~ .cards4 #song-3,
#item-4:checked ~ .cards4 #song-4,
#item-5:checked ~ .cards4 #song-5  {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

.container_carrousel4
#item-1:checked ~ .cards4 #song-2,
#item-2:checked ~ .cards4 #song-3,
#item-3:checked ~ .cards4 #song-4,
#item-4:checked ~ .cards4 #song-5,
#item-5:checked ~ .cards4 #song-1 
{
  transform: translatex(30%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel4
#item-1:checked ~ .cards4 #song-3,
#item-2:checked ~ .cards4 #song-4,
#item-3:checked ~ .cards4 #song-5,
#item-4:checked ~ .cards4 #song-1,
#item-5:checked ~ .cards4 #song-2 {
  
  transform: translatex(0) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel4
#item-1:checked ~ .cards4 #song-4,
#item-2:checked ~ .cards4 #song-5,
#item-3:checked ~ .cards4 #song-1,
#item-4:checked ~ .cards4 #song-2,
#item-5:checked ~ .cards4 #song-3 {
  transform: translatex(0) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel4
#item-1:checked ~ .cards4 #song-5,
#item-2:checked ~ .cards4 #song-1,
#item-3:checked ~ .cards4 #song-2,
#item-4:checked ~ .cards4 #song-3, 
#item-5:checked ~ .cards4 #song-4 {
  transform: translatex(-30%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}






.container_carrousel6 {

 
}

.card6 {

  position: absolute;
  width: 29em;
  height: 22em;
  left: 0;
  right: 0;
  transition: transform .4s ease;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  border-radius: 15px;
  margin-left: 1em;
}

.card6 img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.cards6 {

  margin: 10% 0;

}





.container_carrousel6 #item-1:checked ~ .cards6 #song-1,
.container_carrousel6 #item-2:checked ~ .cards6 #song-2,
.container_carrousel6 #item-3:checked ~ .cards6 #song-3,
.container_carrousel6 #item-4:checked ~ .cards6 #song-4 {

  transform: translateY(0) scale(1);
  opacity: 1;
  z-index: 1;
}

.container_carrousel6 #item-1:checked ~ .cards6 #song-2,
.container_carrousel6 #item-2:checked ~ .cards6 #song-3,
.container_carrousel6 #item-3:checked ~ .cards6 #song-4,
.container_carrousel6 #item-4:checked ~ .cards6 #song-1 {
  transform: translateY(25%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel6 #item-1:checked ~ .cards6 #song-3,
.container_carrousel6 #item-2:checked ~ .cards6 #song-4,
.container_carrousel6 #item-3:checked ~ .cards6 #song-1,
.container_carrousel6 #item-4:checked ~ .cards6 #song-2 {
  transform: translateY(0) scale(0.8);
  opacity: 0.4;
  z-index: 0
}



.container_carrousel6 #item-1:checked ~ .cards6 #song-4,
.container_carrousel6 #item-2:checked ~ .cards6 #song-1,
.container_carrousel6 #item-3:checked ~ .cards6 #song-2,
.container_carrousel6 #item-4:checked ~ .cards6 #song-3 {
  transform: translateY(-25%) scale(0.8);
opacity: 0.4;
z-index: 0
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox.active {
  display: flex;
}

.lightbox-content {
  position: relative;
  max-width: 60%;
  max-height: 100%;
}

.lightbox-content img {
  width: 100%;
  height: auto;
  border: 2px solid white;
  border-radius: 10px;
}

.close-lightbox {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}


.lightbox2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox2.active {
  display: flex;
}

.lightbox2-content {
  position: relative;
  max-width: 35%;
  max-height: 100%;
}

.lightbox2-content img {
  
  height: 100%; /* Remplit la hauteur disponible */
  border: 2px solid white;
  border-radius: 10px;
}

.close-lightbox2 {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}




/* Boutons de navigation */
.prev-btn, .next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5rem;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1100;
  transition: background-color 0.3s ease, color 0.3s ease;
}

// .prev-btn:hover, .next-btn:hover {
//   background: rgba(255, 255, 255, 0.7);
//   color: black;
// }

.prev-btn {
  left: -60px; /* Position de la flèche gauche */
}

.next-btn {
  right: -60px; /* Position de la flèche droite */
}

.zoom-icon {
  position: absolute;
  background: white;
  top: 50%;  /* Centre verticalement */
  left: 50%; /* Centre horizontalement */
  font-size: 2rem;  /* Taille de l'icône */
  color: #081b29;  /* Couleur de l'icône */
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s, transform 0.3s;
  transform: translate(-50%, -50%);  /* Ajuste l'icône pour la centrer parfaitement */
  transform-origin: center;  /* L'agrandissement se fait à partir du centre */

  /* Crée un cercle parfait */
  width: 60px;
  height: 60px; /* Hauteur du cercle (égale à la largeur pour un cercle parfait) */
  display: flex; /* Pour centrer l'icône à l'intérieur du cercle */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  border-radius: 50%;  /* Rend le fond circulaire */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);  /* Ombre autour du cercle */
}

.zoom-icon:hover {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.2);  /* Zoom centré sur l'icône */
}






.container_carrousel7 {
  display: flex;
  justify-content: center;
  margin:-10% auto;
  
}

.card7 {

  position: absolute;
  width: 20em;
  height: 28em;
  left: 0em;
  right: 0em;
  margin: auto;
    margin-left: auto;
  margin-left: auto;
  transition: transform .4s ease;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  margin-left: 5em;
  border-radius: 15px;
}


.cards7 {

  margin: 15% 0;
}





.container_carrousel7 #item-1:checked ~ .cards7 #song-1,
.container_carrousel7 #item-2:checked ~ .cards7 #song-2,
.container_carrousel7 #item-3:checked ~ .cards7 #song-3{


  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

.container_carrousel7 #item-1:checked ~ .cards7 #song-2,
.container_carrousel7 #item-2:checked ~ .cards7 #song-3,
.container_carrousel7 #item-3:checked ~ .cards7 #song-1{

  transform: translatex(25%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

.container_carrousel7 #item-1:checked ~ .cards7 #song-3,
.container_carrousel7 #item-2:checked ~ .cards7 #song-1,
.container_carrousel7 #item-3:checked ~ .cards7 #song-2{

  transform: translatex(-25%) scale(0.8);
  opacity: 0.4;
  z-index: 0
}




// ===================================================================



.container{
  position: relative;
}


.text_informations2{
  position: absolute;
  top: 6em;
  left: 41em;
  right: 1em;
}
  

.text_informations2 h2{
  color:#00b3ff;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.text_informations2 p{
  color:white;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-align: justify;

}

.text_informations2 h3{
  color:#00b3ff;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}




.text_informations{
  position: absolute;
  top: 6em;
  left: 41em;
  right: 1em;
}
  

.text_informations h2{
  color:#00b3ff;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.text_informations p{
  color:white;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-align: justify;

}

.text_informations h3{
  color:#00b3ff;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}







.text_informations3{
  position: absolute;
  top: 66%;
  left: 355px;
  right: 362px;
}
  

.text_informations3 h2{
  color:#00b3ff;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.text_informations3 p{
  color:white;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-align: justify;

}

.text_informations3 h3{
  color:#00b3ff;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}




@media screen and (min-width: 310px) and (max-width: 840px) {



  
  .lightbox-content {
    position: relative;
    max-width: 80%;
    max-height: 100%;
  }

  .lightbox2-content {
    position: relative;
    max-width: 70%;
    max-height: 100%;
  }


  .prev-btn {
    left: -20px; /* Position de la flèche gauche */
  }
  
  .next-btn {
    right: -20px; /* Position de la flèche droite */
  }

  .prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5rem;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1100;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  

//==================CITY BREAK==================
.container{
  position:relative;
}


  .card3 {
    width: 9em;
    height: 20em;
    margin: 1em auto;
    
  }
  

  .text_informations {
    position: absolute;
    top: 25em;
    left: 1em;
    right: 1em;
   
  }

  .text_informations h2{
    font-size: 18px;
  }

  .text_informations h3{
    font-size: 16px;
  }

  .text_informations p{
    font-size: 12px;
  }

  //==================LIONS CLUB ==================

  
  .card {
    width: 12em;
    height: 17em;
    margin: 1em auto;
  }
  .container{
    position:relative;
  }
  
  .text_informations2 {
    position: absolute;
    top: 25em;
    left: 1em;
    right: 1em;

   
  }

  .text_informations2 h2{
    font-size: 18px;
  }

  .text_informations2 h3{
    font-size: 16px;
  }

  .text_informations2 p{
    font-size: 12px;
  }

  //==================GORILLAS ==================
  .container{
    position:relative;
  }

  .card2 {
    width: 17em;
    height: 13em;
    margin: 2em auto;
  }

   //==================CREATION ==================
   .container{
    position:relative;
  }


  .card5 {
    width: 18em;
    height: 13em;
    margin: 4em auto;
  }
  
 //==================FOTOBORNE ==================
 .container{
  position:relative;
}
 
  
  .card4 {
    width: 12em;
    height: 17em;
    margin: 1em auto;
  }

 //==================PORTRAIT3 ==================
 .container{
  position:relative;
}
 
  
  .card7 {
    width: 12em;
    height: 17em;
    margin: 1em auto;
  }

 //==================Paysage4 ==================
 .container{
  position:relative;
}


.card6 {
  width: 18em;
  height: 13em;
  margin: 4em auto;
}

 

}

@media screen and (min-width: 840px) and (max-width: 1199px) {


    
  .lightbox-content {
    position: relative;
    max-width: 80%;
    max-height: 100%;
  }

  .lightbox2-content {
    position: relative;
    max-width: 70%;
    max-height: 100%;
  }


  .prev-btn {
    left: -20px; /* Position de la flèche gauche */
  }
  
  .next-btn {
    right: -20px; /* Position de la flèche droite */
  }

  .prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5rem;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1100;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  

  .card3 {
    width: 9em;
    height: 20em;
    margin: 1em auto;
    
  }

  .container{
    position:relative;
  }


  .text_informations {
    position: absolute;
    top: 23em;
    left: 1em;
    right: 1em;
   
  }

  .text_informations h2{
    font-size: 18px;
  }

  .text_informations h3{
    font-size: 16px;
  }

  .text_informations p{
    font-size: 12px;
  }
  
  
    
    .card {
      width: 14em;
      height: 20em;
      margin: 0 auto;
    }
  
    .text_informations2 {
      position: absolute;
    top: 27em;
    left: 1em;
    right: 1em;
     
    }
  
    .text_informations2 h2{
      font-size: 18px;
    }
  
    .text_informations2 h3{
      font-size: 16px;
    }
  
    .text_informations2 p{
      font-size: 12px;
    }

    //==================GORILLAS ==================

  
  .card2 {
    width: 21em;
    height: 16em;
    margin: 0 auto;
  }

     //==================CREATION ==================

 
  
    .card5 {
      width: 23em;
      height: 16em;
      margin: 0 auto;
    }

   //==================FOTOBORNE ==================

 
  .card4 {
    width: 14em;
      height: 20em;
      margin: 0 auto;
  }

   //==================PORTRAIT3 ==================
 .container{
  position:relative;
}
 
  
  .card7 {
    width: 14em;
    height: 20em;
    margin: 0 auto;
  }

 //==================Paysage4 ==================
 .container{
  position:relative;
}


.card6 {
  width: 23em;
  height: 16em;
  margin: 0 auto;
}
  
  }


@media screen and (min-width: 1201px) and (max-width: 1400px)  {


  .container{
    position:relative;
  }


  
  .card3{
    position: absolute;
    height: 35em;
    width: 15em;
    margin-left: 5em;
    margin-top: -1em;
    
  }


  .text_informations{
    position: absolute;
    right: 2em;
    left:35em;
  }
  
  .text_informations h2{
    font-size: 24px;
  }

  .text_informations h3{
    font-size: 22px;
  }

  .text_informations p{
    font-size: 18px;
  }

  .container_carrousel3 {
    margin: 0% auto;
    
  }
  
  .card {
    width: 21em;
    height: 30em;
    margin-left: 5em;
    margin-top: -8em;
    
    
  }

  
  .text_informations2{
    position: absolute;
    right: 2em;
    left:35em;
  }

  .text_informations2 h2{
    font-size: 24px;
  }

  .text_informations2 h3{
    font-size: 22px;
  }

  .text_informations2 p{
    font-size: 18px;
  }

      //==================GORILLAS ==================

  
      
      .card2 {
        width: 27em;
        height: 20em;
        margin-left: 1em;
        margin-top: -1em;
      }

         //==================CREATION ==================

   
  
    .card5 {
      width: 28em;
      height: 20em;
      margin-left: 1em;
      margin-top: -1em;
    }*
    .card4 {
      width: 20em;
      height: 27em;
      margin-left: 10em;
      
      }
      }