.video {
    text-align: center; 
    margin-top: 50px;
}

.video h2 {
    color: white; 
    font-family: 'Poppins', sans-serif; 
    margin: 0; 
    font-size: 40px;
    margin-bottom: 30px;
}

.lien {
    display: inline-block; 
    text-align: left; 
}

@media screen and (min-width: 310px) and (max-width: 750px) {
    .video h2 {
        font-size: 22px;
    }

    .lien {
        text-align: center; 
    }

   
    .lien iframe {
        width: 100%; 
        height: auto; 
    }
    }
    

    @media screen and (min-width: 751px) and (max-width: 1000px) {
        .video h2 {
            font-size: 28px; 
        }
    
        .lien {
            text-align: center; 
        }
    
       
            .lien iframe {
                width: 600px;
                height: 340px;
            }
        }
