<%= render 'shared/navbar' %>
<div class="content">
  <div class="elements">
    <div class="photo_alex"></div>
      <div class="texte">
      <!-- Contenu du texte ici -->
      </div>
  </div>
</div>
