<div class="container">
    <%= render 'shared/navbar' %>

<form>
  <div>
  <img src="https://cdn4.iconfinder.com/data/icons/basic-user-interface-elements/700/mail-letter-offer-256.png" alt="icon">
   </div>
  <input type="text" placeholder="Nom (requis)" required>
  <input type="text" placeholder="Adresse email (requis)" required>
  <input type="text" placeholder="Sujet (requis)" required>
  <textarea placeholder="Message (requis)" required></textarea>
  <input type="submit" value="Envoyer">
</form>


</div>