<div class="container">
    <%= render 'shared/navbar' %>
</div>

<div class="container2">
    <div class="content_train">
        <div class="top-section"></div>

        <div class="timeline">
            <div class="line"></div>

            <!-- Formation 1 -->
            <div class="section">
                <div class="bead"></div>
                <div class="content2">
                    <div class="text_content">
                        <%= image_tag 'gorillas.jpg', class: "logo_form" %>
                        <div>
                            <h3>Gorillas Technologies</h3>
                            <h6>2021 - 2023</h6>
                        </div>
                    </div>
                <p>Responsable d'entrepôt et HACCP expérimenté, axé sur la gestion d'équipes, la planification stratégique, la qualité, et la satisfaction client. Spécialisé dans la planification de la demande, la gestion des stocks, et le respect des normes de chaîne du froid. Création de contenus pour newsletter interne</p>



                    <span class="arrow"></span>
                </div>
            </div>

            <!-- Formation 2 -->
            <div class="section">
                <div class="bead"></div>
                <div class="content2">
                    <div class="text_content">
                        <%= image_tag 'fotoborne.jpg', class: "logo_form" %>
                        <div>
                            <h3>FotoBorne Animation</h3>
                            <h6>2015 - 2020</h6>
                        </div>
                    </div>
                 <p>En tant qu' <span style="color: #00b3ff; font-size: 17px;">Infographiste </span> et Technico-Commercial spécialisé dans l'univers de la location et vente de bornes photos instantanées pour événements professionnels et privés,
 j'ai conçu des <span style="color: #00b3ff; font-size: 17px;">supports visuels </span> percutants tels que <span style="color: #00b3ff; font-size: 17px;">plaquettes commerciales</span>, <span style="color: #00b3ff; font-size: 17px;">newsletters</span>, et habillages originaux en forme de <span style="color: #00b3ff; font-size: 17px;">stickers </span>. Mon rôle incluait également 
la personnalisation de <span style="color: #00b3ff; font-size: 17px;">gabarits photos </span> pour satisfaire les besoins uniques des clients. En tant que Technico-Commercial, j'ai assuré la gestion de la relation client,
 la coordination logistique pour des événements sans faille, et la maintenance experte des bornes photos. Mon engagement envers la qualité et la satisfaction client était constant,
 du concept à l'exécution, dans l'univers visuel de FotoBORNE</p>
                
                      
  


                    
                    <span class="arrow2"></span>
                </div>
            </div>

            <!-- Formation 3 -->
            <div class="section">
                <div class="bead"></div>
                <div class="content2">
                    <div class="text_content">
                        <%= image_tag 'alexcrea.jpg', class: "logo_form" %>
                        <div>
                            <h3>Auto-entrepreneur</h3>
                            <h6>2015 - 2023</h6>
                        </div>
                    </div>


                    <span class="arrow"></span>
                </div>
            </div>

     

            <div class="bead top-bead"></div>
            <div class="bead bottom-bead"></div>
        </div>
    </div>
</div>
