<div class="container">
    <%= render 'shared/navbar' %>


<div class="container2">
    <div class="content_train">
        <div class="top-section"></div>

        <div class="timeline">
            <div class="line"></div>

            <!-- Formation 1 -->
            <div class="section">
                <div class="bead"></div>
                <div class="content2">
                    <div class="text_content">
                        <%= image_tag 'gorillas.jpg', class: "logo_form" %>
                        <div>
                            <h3>Gorillas Technologies</h3>
                            <h6>2021 - 2023</h6>
                        </div>
                    </div>
                <p>En tant que superviseur d'entrepôt, j'ai dirigé, formé et responsabilisé les équipes pour assurer des livraisons rapides et une qualité de produit exceptionnelle. J'ai géré la planification stratégique de la demande et l'exactitude des stocks, supervisé les réceptions d'approvisionnement en respectant la chaîne du froid et la méthode FIFO. En parallèle, j'ai contribué à la communication interne et à l'image de l'entreprise en concevant des visuels pour la newsletter nationale. J'ai également veillé à la sécurité alimentaire (HACCP), promu l'hygiène et la sécurité, encouragé le rangement et le nettoyage de l'entrepôt, et fourni le matériel nécessaire pour respecter les normes de qualité, d'hygiène, de sécurité et d'environnement (QHSE). </p>



                    <span class="arrow"></span>
                </div>
            </div>

            <!-- Formation 2 -->
            <div class="section">
                <div class="bead"></div>
                <div class="content2">
                    <div class="text_content">
                        <%= image_tag 'fotoborne.jpg', class: "logo_form" %>
                        <div>
                            <h3>FotoBorne Animation</h3>
                            <h6>2015 - 2020</h6>
                        </div>
                    </div>
                 <p>En tant qu' <span style="color: #00b3ff; font-size: 17px;">Infographiste </span> et Technico-Commercial 
                 spécialisé dans l'univers de la location et vente de bornes photos instantanées pour événements
                  professionnels et privés,j'ai conçu des <span style="color: #00b3ff; font-size: 17px;">supports visuels 
                  </span> percutants tels que <span style="color: #00b3ff; font-size: 17px;">plaquettes commerciales</span>,
                   <span style="color: #00b3ff; font-size: 17px;">newsletters</span>, et habillages originaux en forme de <span style="color: #00b3ff; font-size: 17px;">stickers </span>. Mon rôle incluait également 
                la personnalisation de <span style="color: #00b3ff; font-size: 17px;">gabarits photos </span> pour satisfaire les besoins 
                uniques des clients. En tant que <span style="color: #00b3ff; font-size: 18px;">Technico-Commercial</span>, j'ai assuré la gestion de la <span style="color: #00b3ff; font-size: 18px;">relation client</span>, la <span style="color: #00b3ff; font-size: 18px;">coordination logistique</span> pour des <span style="color: #00b3ff; font-size: 18px;">événements</span> sans faille, et la maintenance experte des bornes photos. Mon engagement envers la <span style="color: #00b3ff; font-size: 18px;">qualité</span> et la <span style="color: #00b3ff; font-size: 18px;">satisfaction client</span> était constant, du concept à l'exécution, dans l'univers visuel de FotoBORNE.</p>

            
                      
  


                    
                    <span class="arrow2"></span>
                </div>
            </div>

            <!-- Formation 3 -->
            <div class="section">
                <div class="bead"></div>
                <div class="content2">
                    <div class="text_content">
                        <%= image_tag 'alexcrea.jpg', class: "logo_form" %>
                        <div>
                            <h3>Auto-entrepreneur</h3>
                            <h6>2015 - 2023</h6>
                        </div>
                    </div>
                    <p>En tant qu'auto entrepreneur, j'ai créé divers <span style="color: #00b3ff; font-size: 18px;">
                    supports visuels</span>, que ce soit pour le <span style="color: #00b3ff; font-size: 18px;">web</span>
                     ou <span style="color: #00b3ff; font-size: 18px;"> l'impression</span>. Cela inclut des 
                     <span style="color: #00b3ff; font-size: 18px;">catalogues</span> produits, des 
                     <span style="color: #00b3ff; font-size: 18px;">flyers</span>, des 
                     <span style="color: #00b3ff; font-size: 18px;">affiches</span> pour le mobilier urbain, des 
                     <span style="color: #00b3ff; font-size: 18px;">faire-parts</span> de mariages, des 
                     <span style="color: #00b3ff; font-size: 18px;">maquettes</span> de disques, des 
                     <span style="color: #00b3ff; font-size: 18px;">présentations</span> de mémoires, et des
                      <span style="color: #00b3ff; font-size: 18px;">plaquettes</span> commerciales. 
                      Mon expérience m'a permis de <span style="color: #00b3ff; font-size: 18px;">maîtriser</span> 
                      les différentes contraintes liées à la <span style="color: #00b3ff; font-size: 18px;">conception 
                      graphique</span>, que ce soit pour le <span style="color: #00b3ff; font-size: 18px;">média en 
                      ligne</span> ou <span style="color: #00b3ff; font-size: 18px;">l'impression traditionnelle</span>. 
                      Mon engagement envers la <span style="color: #00b3ff; font-size: 18px;">conception visuelle</span>
                       reste constant, et j'apprécie chaque opportunité qui se présente.</p>


                    <span class="arrow"></span>
                </div>
            </div>

     

            <div class="bead top-bead"></div>
            <div class="bead bottom-bead"></div>
        </div>
    </div>
</div>
</div>