<div class="container">
    <%= render 'shared/navbar' %>
</div>
<div class="container2">
    <div class="content_train">
    <div class="top-section">
        <h1>Formation</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi perferendis atque eius quis excepturi esse, voluptatibus illo quaerat inventore aperiam suscipit, expedita optio sapiente adipisci maxime error nemo doloremque laudantium.</p>
    </div>

    <div class="timeline show-me">
        <div class="line"></div>
        <div class="section">
            <div class="bead"></div>
            <div class="content2">
                <h2>Le Wagon</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, fugit commodi accusantium saepe eius, sit dolorem rerum similique id perferendis tempore in aliquam dolores optio, perspiciatis maxime quis architecto inventore! 
                </p>
            </div>
        </div>
  <div class="section">
            <div class="bead"></div>
            <div class="content2">
                <h2>Marcorel</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, fugit commodi accusantium saepe eius, sit dolorem rerum similique id perferendis tempore in aliquam dolores optio, perspiciatis maxime quis architecto inventore!
                    
                </p>
            </div>
        </div>
  <div class="section">
            <div class="bead"></div>
            <div class="content2">
                <h2>EGC</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, fugit commodi accusantium saepe eius, sit dolorem rerum similique id perferendis tempore in aliquam dolores optio, perspiciatis maxime quis architecto inventore!
                </p>
            </div>
        </div>
  <div class="section">
            <div class="bead"></div>
            <div class="content2">
                <h2>Sup de Pub</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, fugit commodi accusantium saepe eius, sit dolorem rerum similique id perferendis tempore in aliquam dolores optio, perspiciatis maxime quis architecto inventore!
                    
                </p>
            </div>
        </div>




    </div>
    </div>
</div>