<div class="container">
    <%= render 'shared/navbar' %>
</div>
<div class="container2">
    <div class="content_train">
    <div class="top-section">
        <%# <h1>Formation</h1> %>
    </div>
 
    <div class="timeline" >
        <div class="line"></div>
        <div class="section">
            <div class="bead"></div>
            <div class="content2">
                <h3>Le Wagon Lille</h3>
               <h6>04/2023 - 06/2023</h6>
                <p>Lorem ipsum dolo accusantium saepe eius, sit dolorem rerum similique id perferendis tempore in aliquam dolores optio, perspiciatis maxime quis architecto inventore! 
                </p>
                <span class="arrow"></span>
            </div>
        </div>
   
  <div class="section">
            <div class="bead"></div>
            <div class="content2">
                <h3>Marcorel Paris</h3>
                <h6>04/2023 - 06/2023</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, fugit commodi accusantium saepe eius, sit dolorem rerum similique id perferendis tempore in aliquam dolores optio, perspiciatis maxime quis architecto inventore!
                </p>
                <span class="arrow2"></span>
            </div>
        </div>
  <div class="section">
            <div class="bead"></div>
            <div class="content2">
                <h3>EGC Paris</h3>
                <h6>04/2023 - 06/2023</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, fugit commodi accusantium saepe eius, sit dolorem rerum similique id perferendis tempore in aliquam dolores optio, perspiciatis maxime quis architecto inventore!
                </p>
                <span class="arrow"></span>
            </div>
        </div>
  <div class="section">
            <div class="bead"></div>
            <div class="content2">
                <h3>Sup de Pub Paris</h3>
                <h6>04/2023 - 06/2023</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, fugit commodi accusantium saepe eius, sit dolorem rerum similique id perferendis tempore in aliquam dolores optio, perspiciatis maxime quis architecto inventore!
                    
                </p>
                <span class="arrow2"></span>
            </div>
        </div>

     <div class="bead top-bead"></div>
     <div class="bead bottom-bead"></div>



    </div>
    </div>
     
</div>