

<div class="content_top">
  <div class="content">
    <div class="infos">
      <div class="lighbar"></div>
      <div class="toplayer"></div>
      <h1>Alexandre Valla</h1>
     <p>Infographiste & Développeur Front-End</p>
    </div>
    <div class="btn_portfolio">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <%= link_to "Mon Portfolio", a_propos_path, class:"btn_text"%>
    </div>
  </div>
</div>



