<div class="content_top">



<div class="content">

  <div class="infos">
    <div class="lighbar"></div>

    <div class="toplayer"></div>

    <h1>Alexandre Valla</h1>

    <div class="lighbar2"></div>
    <p>Web Designer Junior</p>
</div>

   <div class="btn_portfolio">
   <span></span>
   <span></span>
   <span></span>
   <span></span>
    Mon Portfolio
    </div>
</div>


</div>
