<div class="container">
    <%= render 'shared/navbar' %>
      
 <div class="video"> 
<h2>Mon CV PDF & Vidéo.</h2>
<div class="cv-download">
        <a href="/CV_Alexandre_Valla.pdf" class="access-button" target="_blank">Mon CV PDF</a>
    </div>
    <br>
<div class="lien">
<iframe width="800" height="450" src="https://www.youtube.com/embed/mb3K--9yRng" frameborder="0" allowfullscreen></iframe>
</div>


</div>

  




</div>


<script>
    function onYouTubeIframeAPIReady() {
        var player = new YT.Player('player', {
            height: '450',
            width: '800',
            videoId: 'mb3K--9yRng',
            playerVars: {
                controls: 0, 
                disablekb: 1, 
                modestbranding: 1, 
                showinfo: 0 
            },
            events: {
                'onReady': onPlayerReady
            }
        });
    }
   
    function onPlayerReady(event) {
        event.target.playVideo();
    }
</script>

