<h1>Contacts#new</h1>
<p>ALLEZ VOUS FAIRE FOUTRE </p>


<%= javascript_tag do %>
  setTimeout(function() {
    window.location.href = "<%= a_propos_path %>";
  }, 3000); // Redirige après 5 secondes (5000 ms)
<% end %>
