
<%# <%= javascript_tag do %>
  <%# setTimeout(function() {
    window.location.href = "<%= a_propos_path %>";
  <%# }, 3000); // Redirige après 5 secondes (5000 ms)
<% end %>
 

<%# <div class="content_top">
  <div class="content">
    <div class="infos">
    
      <h1>Merci pour votre message !</h1>
  
    </div>
  </div>
</div> %>

<%# <%= javascript_tag do %>
  <%# setTimeout(function() {
    window.location.href = "<%= a_propos_path %>";
  <%# }, 3000); // Redirige après 5 secondes (5000 ms)  %>
<%# <% end %>  