<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  
    <h1>Nouveau message reçu</h1>
    <p>
      Nom: <%= @message.nom %><br>
      Email: <%= @message.email %><br>
      Sujet: <%= @message.sujet %><br>
      Message: <%= @message.message %><br>
    </p>

  </body>
</html>
