.btn_portfolio{
  color: white;
  justify-content: center;
  text-align: center;
  margin-top: 7%;
  position :relative;
  padding: 25px 30px;
  letter-spacing: 4px;
  transition:.5s all;
  font-size: 30px;
  overflow:hidden;
  margin-right: 39%;
  margin-left: 39%;
  opacity:0;
  animation: fadein 1s ease-in-out 5s forwards;
}

@keyframes fadein {
  to {
    opacity: 1;
  }
}

.btn_portfolio:hover{
  color: #e6007e;


}

.btn_portfolio span{
  position:absolute;
}

.btn_portfolio span:nth-child(1){
  top:0;
  left:0;
  width: 100%;
  height:2px;
  background:linear-gradient(90deg, transparent,#e6007e) ;
  animation: animate1 1s linear infinite;
}

@keyframes animate1{
  0%{
    left: -100%;
  }
  50%, 100%{
    left:100%;
  }
}


.btn_portfolio span:nth-child(2){
  top:-100%;
  right:0;
  width: 2px;
  height:100%;
  background:linear-gradient(180deg, transparent,#e6007e) ;
  animation: animate2 1s linear infinite;
  animation-delay: .25s;
}

@keyframes animate2{
  0%{
    top: -100%;
  }
  50%,100%{
    top:100%;
  }
}


.btn_portfolio span:nth-child(3){
  bottom:0;
  right:0;
  width: 100%;
  height:2px;
  background:linear-gradient(270deg, transparent,#e6007e) ;
  animation: animate3 1s linear infinite;
  animation-delay: .50s;
}

@keyframes animate3{
  0%{
    right: -100%;
  }
  50%,100%{
    right:100%;
  }
}


.btn_portfolio span:nth-child(4){
  bottom:-100%;
  left:0;
  width: 2px;
  height:100%;
  background:linear-gradient(360deg, transparent,#e6007e) ;
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4{
  0%{
    bottom: -100%;
  }
  50%,100%{
    bottom:100%;
  }
}
