.btn_navbar {
  display: flex;
  justify-content: space-between;
  margin-top:15px;
  align-items: center;
  height:40px;
}

.btn_nav {
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
  padding: 0 10px;
  font-family: 'Poppins', sans-serif;
}

.btn_nav:after {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, transparent, #00b3ff);
  height: 3px;
  width: 0;
  bottom: -8px;
  left: 0;
  transition: 0.3s;
}

.btn_nav:active:after,
.btn_nav:visited:after,
.btn_nav.active:after {
  width: 100%;
}

.btn_nav:hover:after {
  width: 100%;
}

.btn_nav:hover {
  color: white;
}

.btn_nav2 {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-right: 40%;
  font-family: 'Poppins', sans-serif;
}

.btn_nav2:hover {
  color:#00b3ff;
  transition:0.6s;
}
